<template name = "carousel_homepage_2_items">
	<div class="item {{active}}">
		<img class = "carousel_homepage_2_img" src="{{image}}">
        <div class="carousel-caption">
	    	<button class = "carousel-caption-button">
	    		<a class="carousel-caption-title" href = "">{{title}}</a>
	    	</button><br>
			<button class = "carousel-know-more-button">
				<a href="/service/{{slug}}" >Know More</a>
			</button>
		</div>
    </div>
    
    <!-- <div class="item {{active}}">
		<img class = "carousel_homepage_2_img" src="{{banner_img}}">
        <div class="carousel-caption">
	    	<button class = "carousel-caption-button">
	    		<a class="carousel-caption-title" href = "/service/{{slug}}">{{service_title}}</a>
	    	</button><br>
			<button class = "carousel-know-more-button">
				<a href="/service/{{slug}}" >Know More</a>
			</button>
		</div>
    </div> -->
</template>