<template name = "footer_recent_blog_post_items">
	<div class="item {{active}}">
		<div class="carousel-content">
	    	<div>
	    		<div class = "recent-blog-thumbnail-div left">
					<img class = "recent-blog-thumbnail" src = "{{image_url}}">
				</div>
				<div class = "col-xs-7 recent-post-desc">
					<p class = "recent-blog-title">{{blog_title}}</p>
					<a target = "_blank" href="{{blog_link}}" class = "recent-blog-read-more">Read Article</a>
				</div>
	    	</div>
		</div>
    </div>
</template>