<template name = "homepage_about_me">
	<div class = "homepage_about_me_div">
		<h3 class = "homepage_about_me_heading" >About Me</h3>
		<hr class = "homepage_title_underline">
		<div class = "container homepage_about_me_body">
			<div class = "row">
				<div class = "col-md-2"></div>
				<div class = "col-md-3">
					<img src = "/img/homepage_images/home_about_me.jpg" class = "img-circle">	
				</div>
				<div class = "col-md-7">
					<p class = "homepage_about_me_overview">
						Priya Saklani Phd, RMT, CHLC, is a certified Reiki<br>Master and Teach (in several Reiki healing<br>modalities). She is a certified holistic life coach and<br>also a cerfitied Animal Reiki parctitioner.
					</p>
					<br><br>
					<b><a class = "homepage_about_me_know_more" href = "/aboutMe" >Click here to know more</a></b>
				</div>
				<!-- <div class = "clear"></div> -->
			</div>
		</div>
		<!-- <div class = "clear"></div> -->
	</div>
</template>