<template name="navigation">
	<div class = "nav_container">
		<ul class = "nav_ul" >

			<li class = "nav_li_banner"><a class = "nav_a_banner" href="">Priya Saklani<br>PhD, RMT, CHLC</a></li>

			<li class = "nav_li"><a class = "nav_a" href="">Home</a></li>
			<li class = "nav_li"><a class = "nav_a" href="">About</a></li>
			<li class = "nav_li"><a class = "nav_a" href="">My Services</a></li>
			<li class = "nav_li"><a class = "nav_a" href="">Tribute to Cola</a></li>
			<li class = "nav_li"><a class = "nav_a" href="">Press</a></li>
			<li class = "nav_li"><a class = "nav_a" href="">Events & Workshop</a></li>
			<li class = "nav_li"><a class = "nav_a" href="">Contact</a></li>
		</ul>
	</div>
</template>
