
.contactContainerRow1 {
	height: 30%;
	max-height: 30%;
	margin-top: 4%;
	margin-bottom: 2%;
	/*clear: both;*/
	overflow: hidden;
	position: relative;
	margin-right: 0px;
	margin-left: 0px;
}

.contactContainerRow2 {
	margin-bottom: 4%;
	margin-right: 0px;
	margin-left: 0px;
}

.contactDetails {
	float: left;
	margin-left: 5%;
}

.contact-card {
	border-right: thin solid #eeeeee;
}

.contactQuoteContainer {
	/*float: right;*/
	height: 100%;
	/*position: absolute;*/
	padding-top: 3%;
	padding-left: 2%;
	border-left: thin solid #eeeeee;
	/*margin-left: 25%;*/
	/*margin-right: 5%;*/
}

.clearfix {
	clear: both;
}

.horizontalDivision {
	width:95%;
	margin-left: 2.5%;
	margin-right: 2.5%;
	text-align: center;
}

.contact-card h2 {
	font-family: Arial; font-weight: bold;
	font-size: 32px;
	color: #443266;
}

.contact-card p {
	font-family: Source Sans Pro;
	font-size: 17px;
	line-height: 28px;
	color: #443266;
}

.contactQuoteContainer p {
	font-family: "Times New Roman";
	font-style: italic;
	font-size: 17px;
	line-height: 28px;
	color: #443266;
}

.contact-image {
	padding-top: 3%;
	text-align: center;
	/*margin-left: 10%;*/
	/*margin-right: 10%;*/
}

.contact-image img{
	width: 30%;
}

#email-sent-success-id {
	display: none;
}

.emailFormContainer label{
	display: none;
}

.send-email-title {
	font-family: Arial; font-weight: bold;
	font-size: 32px;
	color: #443266;
}

.sendMailButton {
	background-color: #443266;
	font-size: 14px;
	color: #ffffff !important;
	border-radius: 0px;
    width: 200px;
    padding: 10px;
}

#send-email-form-id input, #send-email-form-id textarea {
	border:	0px;
	border-radius: 0px;
	color: #808080;
	/*font-size: 17px;*/
	line-height: 28px;
	background-color: #C7C5C5;
}

.human-check label {
	display: block;
} 