/*Include Fonts*/
@font-face {
	font-family: DomineBoldFont,
	src: url("/fonts/Domine-Bold.ttf");
}
@font-face {
	font-family: DomineBoldFont,
	src: url("/fonts/Domine-Bold.eot"); /* For stupid ID */
}

@font-face {
	font-family: DomineRegularFont,
	src: url("/fonts/Domine-Regular.ttf");
}
@font-face {
	font-family: DomineRegularFont,
	src: url("/fonts/Domine-Regular.eot"); /* For stupid ID */
}
/*End Include Fonts*/

.clear {
	clear: both;
}

hr.homepage_title_underline {
	height: 1px;
	margin-top: 3%;
	border-top: 1px solid #D4CBCB;
	margin-left: 49%;
	margin-right: 49%;
}

.nonHomepageContainer {
	height: 100%;
	min-height: 100%;
	height: auto !important;
	margin: 0 auto -4em;
}

/*Navigation Start*/
.navbar {
	border-radius: 0px;
	border-color: #443266;
	background-color: #443266;	
	margin-bottom: 0px;
}

#my-nav-bar >li {
	float: none;
	background-color: #443266 !important;
}
#my-nav-bar >li :hover , .dropdown-menu > li :hover{
	background-color: #3B2F59;
	color: #FFFFFF !important;
}
#my-nav-bar >li.brand_li :hover {
	background-color: #443266;
}

#my-nav-bar > li > a , .dropdown-menu > li > a {
	text-align: center;
	vertical-align: middle;
	color: #B5AEC5;
	font-family: DomineRegularFont;
	font-size: 16px;
}

.dropdown-menu, .dropdown-menu > li {
	background-color: #443266;
}

#my-nav-bar li.dropdown.open {
	background-color: #443266 !important;
}

#my-nav-bar > li > .navbar-brand {
	float: none;
}

.nav_logo_img {
	/*padding-top: 4%;*/
	/*height: 35px;*/
	/*width: 100px;*/
}

/*
.nav_container {
	margin-top: -8px;
	width: 100%;
}

.nav_ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

.nav_li_banner {
	width: 15%;
	float: left;
	background-color: #443266;
}

.nav_li {
	float: left;
	width: 12.13%;
	background-color: #443266;
}

.nav_li:hover {
	background-color: #3B2F59;
}

.nav_a_banner {
	padding: 12px 0px;
	text-align: center;
	vertical-align: middle;
	display: block;
	text-decoration: none;
	color: #D5D0DD;
}

.nav_a {
	padding: 21px 10px;
	text-align: center;
	vertical-align: middle;
	display: block;
	text-decoration: none;
	color: #B5AEC5;
}

.nav_a:hover {
	color: #FFFFFF;
}
*/
/*Navigation End*/


/*Footer Start*/
.footer_container {
	clear: both;
	height: 4em;
	width: 100%;
	background-color: #443266;
}

.footer_col {
	width: 33.33%;
}
/*Footer End*/

.contactContainerRow1 {
	height: 30%;
	max-height: 30%;
	margin-top: 4%;
	margin-bottom: 2%;
	/*clear: both;*/
	overflow: hidden;
	position: relative;
}

.contactDetails {
	float: left;
	margin-left: 5%;
}

.contactQuoteContainer {
	/*float: right;*/
	height: 100%;
	position: absolute;
	padding-top: 4%;
	padding-left: 2%;
	border-left: thin solid #000000;
	margin-left: 25%;
	margin-right: 5%;
}

.clearfix {
	clear: both;
}

.horizontalDivision {
	width:95%;
	margin-left: 2.5%;
	margin-right: 2.5%;
	text-align: center;
}


/*Homepage Style*/
.homepage_1 {
	width: 100%;
	height: 100%;
}
.homepage_1_img_div {
	width: 100%;
}
.homepage_1_img {
	/*height: 20%;*/
	width: 100%;
	/*height:600px;*/
}

/*Homepage Scroll Page 2*/
.homepage_2 {
	min-height: 800px;
}

/*Carousel*/
#myCarousel {
	width: 100%;
	/*max-height: 600px;*/
}

.carousel_homepage_2_img {
	width: 100%;
	/*max-height: 600px;*/
}
/*
.carousel-caption {
	margin-bottom: 7%;
}
.carousel-caption-div {
	/*background-color: #febfea;
	background-color: rgba(251,239,234,0.82);
	opacity: 82%;
	min-height: 100px;
}

.carousel-caption-title {
	text-decoration: none !important;
	font-family: DomineBoldFont;
	font-size: 42px;
	color: #443266;
	padding-top: 5%;
}

.carousel-caption-title:hover{
	color: #FFFFFF;
}

.carousel-know-more-div {
	margin-top: 10%;
}
.carousel-know-more-button {
	border-radius: 30px;
	background-color: rgba(251,239,234,0.82);

}
.carousel-caption-div {
	margin-bottom: 11%;
	background-color: rgba(251,239,234,0.82);
	opacity: 82%;
}
.carousel-caption-div .carousel-caption-title {
	text-decoration: none !important;
	font-family: DomineBoldFont;
	font-size: 42px;
	color: #443266;
	padding: 5%;
}
*/

.carousel-caption-button {
	margin-bottom: 11%;
	margin-left: -100%;
	width: 300%;
	background-color: rgba(251,239,234,0.82);
	opacity: 82%;	
	border: none;
}
.carousel-caption-button a{
	text-decoration: none !important;
	font-family: DomineBoldFont;
	font-size: 42px;
	color: #443266;
}

.carousel-know-more-button {
	margin-bottom: 6%;
	border-radius: 30px;
	width: 190px;
	min-height: 50px;
	background-color: rgba(251,239,234,0.82);
	border: none;
}
.carousel-know-more-button a {
	text-decoration: none !important;
	font-family: DomineBoldFont;
	font-size: 18px;
	color: #443266;
}
.carousel-caption-title:hover,
.carousel-know-more-button a:hover {
	color: #FFFFFF;
}

ol.carousel-indicators li, ol.carousel-indicators li.active {
	margin-left: 10px;
}

/*Carousel Happy Clients*/
#happyClientsCarousel {
	/*min-height: 450px;*/
	/*max-height: 500px;*/
}

/*@media screen and (min-device-width: 1800px) {
	#happyClientsCarousel .carousel-inner {
		margin-left: 12%;
	}
}*/

#happyClientsCarousel .carousel-indicators {
	bottom: -50px;
	/*top: 50%;*/
}

#happyClientsCarousel .carousel-indicators li {
	background-color: #B5AEC5;
}

#happyClientsCarousel .carousel-indicators .active {
	background-color: #443266;
}

.carousel-content {
	/*min-height: 550px;*/
	display:flex;
    align-items:center;
}

p.happy_client_message {
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-size: 20px;
	line-height: 32px;
	color: #443266;
	text-align: center;
}

p.happy_client_message_by {
	text-align: center;
	font-family: DomineRegularFont;
	font-size: 18px;
	color: #443266;
}

.happy_client_carousel_control {
	background: none !important;
}

.row-happy-clients-msg{
	margin: 0px !important;
}
/*End Carousel Happy Clients*/

/*End Carousel*/
/*Page 2 Message*/
.homepage_2_message_div {
	min-height: 200px;
	background-color: #443266;
}
.homepage_2_message {
	line-height: 44px;
	font-size: 28px;
	font-family: DomineRegularFont;
	color: #FFFFFF;
	text-align: center;
	padding: 3%;
}
/*End Page 2 Message*/

/*Homepage About Me*/
.homepage_about_me_div {
	min-height: 600px;
}

.homepage_about_me_heading {
	margin-top: 4%;
	text-align: center;
	font-family: DomineBoldFont;
	font-size: 30px;
	color: #443266;
}

.homepage_about_me_body {
	margin-top: 4%;
}

p.homepage_about_me_overview {
	margin-top: 3%;
	line-height: 32px;
	font-family: DomineRegularFont;
	font-size: 18px;
	color: #443266;
}

a.homepage_about_me_know_more {
	font-family: DomineBoldFont;
	font-size: 18px;
	color: #443266;
}
/*End Homepage About Me*/

/*Homepage Happy Clients*/

.homepage_happy_client_div {
	min-height: 600px;
	background: url("/img/homepage_images/home_happy_clients_bg.png") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.homepage_happy_client_heading {
	padding-top: 3.5%;
	text-align: center;
	font-family: DomineBoldFont;
	font-size: 30px;
	color: #443266;
}
/*End Homepage Happy Client*/



/* Footer Start */

.footer-row {
	margin:0px !important;
	background-color: #443266;
	min-height: 460px;
}

.footer-content {
	margin-top: 15%;
	margin-left: 30%;
} 

.footer-title p {
	font-family: DomineBoldFont;
	font-size : 21px;
	color: #FFFFFF;
}

.footer-recent-posts, .footer-contact-card, .footer-membership-img-div {
	margin-top: 15%;
}

.footer-recent-posts {
	padding-left: 15px;
}

.recent-blog-thumbnail {
	width: 100%;
	height: 100px;
	box-shadow: 3px 3px 0px black;
}

.recent-post-desc {
	min-height: 100px;
} 

.recent-blog-title, .footer-contact-card p, .req-session-btn p, .req-session-btn p a {
	font-family: DomineRegularFont;
	color: #c4bdd1;
	font-size: 16px;
	line-height: 20px;
}

.recent-blog-read-more {
	position: absolute;
	bottom: -4px;
	font-family: DomineRegularFont;
	color: #c4bdd1;
	font-size: 16px;
	text-decoration: underline;
}
.recent-blog-read-more:hover {
	color: #FFFFFF;
}

.recent-blog-thumbnail-div {
	width: 20%;
}
.req-session-btn {
	width: 60%;
}

@media screen and (min-device-width: 1800px) {
	.recent-blog-thumbnail-div {
		width: 20%;
	}
	.req-session-btn {
		width: 60%;
	}
}

@media screen and (min-device-width: 1000px) and (max-device-width: 1400px) {
	.footer-row {
		min-height: 390px;
	}
	.recent-blog-thumbnail-div  {
		width: 25%;
	}
	.req-session-btn {
		width: 70%;
	}
}

.req-session-btn {
	margin-top: 15%;
    background-color: #2d2343;
    /* border-color: #2d2343; */
    border-radius: 50px;
    color: #FFFFFF;
    /*width: 60%;*/
    height: 60px;
}
.req-session-btn p {
	text-align: center;
	padding:17px;
}
.req-session-btn p a:hover {
	color: #FFFFFF;
}

.left {
	float: left;
}
.right {
	float: right;
}

/* Copyright bar Footer */

/*.footer-navbar {
	background-color: #2d2343;
	border-radius: 0px;
	border-color: #2d2343;
}

#footerCopyrightBar {
	border-radius: 0px;
	border-color: #2d2343;
}

#my-footer-copyright-bar {
	background-color: #2d2343;
}

#my-footer-copyright-bar >li {
	float: none;
	background-color: #2d2343 !important;
}

#my-footer-copyright-bar >li a:hover {
	color: #FFFFFF !important;
}*/

/* End Copyright bar Footer*/

/* new copyright bar */
.footer-copyright-bar {
	margin: 0px !important;
	min-height: 60px;
	background-color: #2d2343;
}

@media screen and (min-device-width: 1000px) and (max-device-width: 1400px) {

}

.copyright-bar-div {
	margin-top: 20px;
}

.copyright-bar-div p, .copyright-bar-div p a {
	font-family: DomineRegularFont;
	color: #c4bdd1;
	font-size: 13px;
}

.copyright-bar-div p a:hover {
	color: #FFFFFF;
}

.copyright-bar-disclaimer-div {
	margin-left: 4%;
}

.copyright-bar-copyright-div {
	margin-left: -4%;
}

.copyright-bar-copyright-div p {
	text-align: center;
}

.footer-social-icon-div {
	padding-right: 5%;
}

.footer-social-icon {
	padding-left:5%;
}

/* end new copyright bar*/

/* Footer End*/

/*End Homepage Style*/
































