.tribute-to-cola-heading {
	margin-top: 4%;
	text-align: center;
	font-family: DomineBoldFont;
	font-size: 32px;
	color: #443266;
}

.tribute-to-cola-message {
	margin-top: 3%;
	line-height: 34px;
	font-family: DomineRegularFont;
	font-size: 20px;
	color: #443266;
}

#tribute-to-cola-carousel .carousel-inner {
	width: 80%;
	margin-left: 10%;
} 

#tribute-to-cola-carousel .carousel-control {
	background: none;
}

.cola-slides-div {
	margin-bottom: 5%;
} 